#upload-box {
  margin-bottom: 20px;
  position: relative;
}
#upload-box input {
  border: none;
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
}
#upload-box .sub {
  background: #3B9B9B;
  color: #FFFFFF;
  position: absolute;
  right: 5%;
  top: 0%;
}
